<a href="https://colab.research.google.com/github/246301012-commits/Data-Structure/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 01

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print(2+3)

5

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("""My name is Aditya.""")

My name is Aditya.

In [ ]:
a = 1
b= 1,
type(a)
type(b)

tuple

In [ ]:
name = input("Enter your name: ")
print(f'Hi! {name}')
age = input("Enter your age: ")
print(f'Welcome {name}! Your age is {age}')

Enter your name: Aditya
Hi! Aditya
Enter your age: 18
Welcome Aditya! Your age is 18

In [ ]:
from datetime import date
today = date.today()

name = input('Enter your name: ')
year = int(input("Enter the year of the birth: "))
current_age = today.year - year
print('Welcome',name,'! Nice to know you are',current_age,'years old.')

Enter your name: Aditya
Enter the year of the birth: 2007
Welcome Aditya ! Nice to know you are 18 years old.

##DAY 02

In [ ]:
a =10
b = a
print(id(a))
print(id(b))

10758024
10758024

In [ ]:
a =10
b = 10
print(id(a))
print(id(b))

10758024
10758024

In [ ]:
a = 257
b = 257
print(id(a))
print(id(b))

133872165421264
133872165422128

In [ ]:
a =256
b = 256
print(id(a))
print(id(b))

10765896
10765896

In [ ]:
a = -6
b = -6
print(id(a))
print(id(b))

133872165422576
133872165422256

In [ ]:
a = -5
b = -5
print(id(a))
print(id(b))

10757544
10757544

In [ ]:
a = -7
b = -7
print(id(a))
print(id(b))

132205350004752
132205350004528

##### -5 to 256 integer interning

bin ---> decimal to binary<br>
oct ---> decimal to oct<br>
hex ---> decimal to hexadecimal

In [ ]:
print(bin(10))

0b1010

In [ ]:
c = 0b1010
print(c)

10

In [ ]:
b = 15
print(oct(b))

0o17

In [ ]:
c = 12
print(hex(c))

0xc

In [ ]:
a = 0xc
print(a)

12

In [ ]:
x = 3
y = x
x = x + 1
print(x)
print(y)

4
3

In [ ]:
a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

### Statement and Expression
expression ----> output <br>
statement -----> no output

In [ ]:
16

16

In [ ]:
print(True - True)
print(True + False)
print(True + True)

0
1
2

###String Formatter

In [ ]:
x = 10
printer = "HP"
print("i just printed %s from the printer %s"%(x,printer))

i just printed 10 from the printer HP

In [ ]:
str = "This article is written in {}"
print(str.format("Python"))
print("My name is {} and i am studying in {}".format("Aditya","GKV"))

This article is written in Python
My name is Aditya and i am studying in GKV

###DAY 03

In [ ]:
# Basic Operators
# A card is drawn at random from a deck of well suffled  cards. Find the probability of it being neither a king nor a spade.
spade_with_king = 13
total_kings = 4
spade_without_king = 12

required_probability = (52-(12+4))/52
print(required_probability)

0.6923076923076923

In [ ]:
s = 'hello'
# s[0] = 'a' String is immutable
print(s)
print(s[-2:])
print(s[-5:-1])
print(s[0:100])
print(s[:-1])

hello
lo
hell
hello
hell

In [ ]:
s = 'Python Programming'
# Q1: Extract Prog
print(s[7:11])
# Q2: [:]
print(s[:])
print(s[:-1])
print(s[::-2])

Prog
Python Programming
Python Programmin
gimroPnhy

In [ ]:
s= 'Python is a good programming Language'
print(s.split())
print(s.upper())
print(s.title())
print(s.lower())
print(s.find('good'))

['Python', 'is', 'a', 'good', 'programming', 'Language']
PYTHON IS A GOOD PROGRAMMING LANGUAGE
Python Is A Good Programming Language
python is a good programming language
12

In [ ]:
s= 'Python,is,a,good,programming,Language'
print(s.split())
print(s.split(','))
print(s.upper())

['Python,is,a,good,programming,Language']
['Python', 'is', 'a', 'good', 'programming', 'Language']
PYTHON,IS,A,GOOD,PROGRAMMING,LANGUAGE

In [ ]:
s= '      Python    is     a good  programming  Language                                      '
print(s.strip())
p = '----Aditya-----'
print(p.strip('-'))

Python    is     a good  programming  Language
Aditya

In [ ]:
from typing_extensions import Counter
s = '''My name is Aditya
I am learning python
i am using google collab to write my code
'''
p = s.split()
print(s.split())
print(len(p))
count = Counter(p)
print(count)
# Find the frequency of words

['My', 'name', 'is', 'Aditya', 'I', 'am', 'learning', 'python', 'i', 'am', 'using', 'google', 'collab', 'to', 'write', 'my', 'code']
17
Counter({'am': 2, 'My': 1, 'name': 1, 'is': 1, 'Aditya': 1, 'I': 1, 'learning': 1, 'python': 1, 'i': 1, 'using': 1, 'google': 1, 'collab': 1, 'to': 1, 'write': 1, 'my': 1, 'code': 1})

In [ ]:
name = "Python Programming"
print(name[-11])

P

DAY 04

What is short circuiting evaluation?

In [ ]:
def square(a):
  return a**2
square(2)

4

In [ ]:
def square(a:int) -> "the square of a number":
  '''computes square of input variable a'''
  z = a**2
  return z
square(2.0)

4.0

In [ ]:
help(square)

Help on function square in module __main__:

square(a: int) -> 'the square of a number'
    computes square of input variable a

In [ ]:
square.__doc__

'computes square of input variable a'

In [ ]:
square.__annotations__

{'a': int, 'return': 'the square of a number'}

In [ ]:
def f(a):
  print("f(",a,") =",a)
  return a

In [ ]:
f(0)

f( 0 ) = 0

In [ ]:
f(False)

f( False ) = False

In [ ]:
f(1.5)

f( 1.5 ) = 1.5

In [ ]:
f(1) and f(2) and f(0) and f(4)

f( 1 ) = 1
f( 2 ) = 2
f( 0 ) = 0

0

In [ ]:
f(0) or f(1) or f(2) or f(4)

f( 0 ) = 0
f( 1 ) = 1

1

In [ ]:
print(2**3**2)  #exponential is right associative

512

In [ ]:
print(3**1+2**2**2)

19

In [ ]:
a = 10
bin(a)
b = 14
bin(14)
print(bin(a&b))

0b1010

In [ ]:
a = 8
b = 10
print(bin(a&b))
print(0b1000)

0b1000
8

In [ ]:
a = 8
b = 10
print(bin(a|b))
print(0b1010)

0b1010
10

In [ ]:
a = 10
b =14
print(bin(a^b))
print(0b100)

0b100
4

In [ ]:
a = 10
print(bin(10))
print(~0b1010)
# negative number is always written in 2's complement

0b1010
-11

In [ ]:
x = 200
y = 300
print(x==y)
print(x is y)
print(x is not y)

False
False
True

In [ ]:
x = 300
y = 300
print(x==y) # checks value
print(x is y) # checks location
print(x is not y)

True
False
True

In [ ]:
x,y = 300,300 # forms a tuple with same address of
print(x==y)
print(x is y)
print(x is not y)

True
True
False

In [ ]:
x,y = 200,300
print(x==y)
print(x is y)
print(x is not y)

False
False
True

In [ ]:
a = 3
b = 5
print('A is greater') if a > b else print("=") if a == b else print("B is greater") if a < b

SyntaxError: expected 'else' after 'if' expression (ipython-input-1975213288.py, line 3)

##Day 05

In [ ]:
test_board = ["0","1","2","3","4","5","6","7","8","9"]

def display_board(board):
  print(board[7],"|" ,board[8], "|", board[9])
  print("- - - -")
  print(board[4],"|" ,board[5], "|", board[6])
  print("- - - -")
  print(board[1],"|" ,board[2], "|", board[3])

display_board(test_board)

position = input("Enter a position (1-9): ")
test_board[int(position)] = 'X'
position = input("Enter a position (1-9): ")
test_board[int(position)] = '0'

display_board(test_board)

7 | 8 | 9
- - - -
4 | 5 | 6
- - - -
1 | 2 | 3
Enter a position (1-9): 2
Enter a position (1-9): 1
7 | 8 | 9
- - - -
4 | 5 | 6
- - - -
0 | X | 3

In [ ]:
log_entry = "[2025-07-28 15:30:05] User 'admin' logged in successfully."

# Extract timestamp
timestamp = log_entry.split(']')[0] + ']'

# Extract message
message = log_entry.split(']')[1].strip()

print("Timestamp:", timestamp)
print("Message:", message)

Timestamp: [2025-07-28 15:30:05]
Message: User 'admin' logged in successfully.

In [ ]:
apple = ["1","2","3","4","5"]
print(apple)
# apple[0:3]=["2","3"]
# print(apple)
apple[0:3]=["5","2","3","10"]
print(apple)

['1', '2', '3', '4', '5']
['5', '2', '3', '10', '4', '5']

In [ ]:
apple = ["1","2","3","4","5"]
print(apple)
apple.append('8')
print(apple)
apple.extend([23,23,45,67,56,45])
print(apple)
apple.insert(2,"spoon")
print(apple)
apple.pop(1)
print(apple)
apple.remove("1")
print(apple)

['1', '2', '3', '4', '5']
['1', '2', '3', '4', '5', '8']
['1', '2', '3', '4', '5', '8', 23, 23, 45, 67, 56, 45]
['1', '2', 'spoon', '3', '4', '5', '8', 23, 23, 45, 67, 56, 45]
['1', 'spoon', '3', '4', '5', '8', 23, 23, 45, 67, 56, 45]
['spoon', '3', '4', '5', '8', 23, 23, 45, 67, 56, 45]

In [ ]:
list = [1,23,4,5,-567,0,-13,-34,78]
for i in list:
  if i>0:
    print(i)
  else:
    break

1
23
4
5

In [ ]:
i = 1
while i<6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
a = "hello"
print(reversed(a))
# b = <reversed object at 0x7c0e8d4b59f0>
# print(b)

<reversed object at 0x7a10b62ea0e0>

In [ ]:
continents = ["Africa", "Asia", "Antarctica", "Australia", "Europe", "North America", "South America"]

length = 0
for i in continents:
  if len(i)> length:
    length = len(i)
    longest_continent = i
print(longest_continent)

for j in continents:
  if len(j)== length:
    secondcontinent = j
print(secondcontinent)

North America
South America

##Day 06

In [ ]:
N = int(input())
row = 1

while row <= N:
  col = 1
  temp = row
  while col<=row:
    print(temp, end = " ")
    col += 1
    temp += 1
  row += 1
  print()

5
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [ ]:
N = int(input())
row = 1

while row <= N:
  col = 1
  while col<=N:
    print(chr(64 + row), end = " ")
    col += 1
  row += 1
  print()

4
A A A A
B B B B
C C C C
D D D D

char to ASCII ---> odr() <br>
ASCII to Char ----> chr()

In [ ]:
N = int(input())
row = 1

while row <= N:
  col = 1
  while col<=N:
    print(chr(64 + col), end = " ")
    col += 1
  row += 1
  print()

5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
N = int(input())
row = 1

while row <= N:
  col = 1
  while col<=N:
    print(chr(64 + row + col -1), end = " ")
    col += 1
  row += 1
  print()

4
A B C D
B C D E
C D E F
D E F G

In [ ]:
N = int(input())
row = 1

while row <= N:
  col = 1
  while col<=N:
    print(chr(64 + col), end = " ")
    col += 1
  row += 1
  print()

4
A
A B
A B C
A B C D

In [ ]:
N = int(input())
row = 1

while row <= N:
  col = 1
  while col<=N:
    print(chr(64 + col), end = " ")
    col += 1
  row += 1
  print()

4
A B C D
A B C D
A B C D
A B C D

In [ ]:
# meteostat
# NOCC

In [ ]:
# N = int(input())
def draw_pattern(N):
    for i in range(N):
        for j in range(1, N - i + 1):
            print(j, end='')

        print('*' * (2 * i), end='')

        for j in range(N - i, 0, -1):
            print(j, end='')
        print()

draw_pattern(4)

12344321
123**321
12****21
1******1

In [ ]:
N = int(input())
for i in range(N):
  for j in range(1, N - i + 1):
    print(j, end = "")

  print('*' * (2 * i), end = "")

  for j in range(N - i, 0, -1):
    print(j, end = "")
  print()

5
1234554321
1234**4321
123****321
12******21
1********1

In [ ]:
N = int(input())
for i in range(N):
  for j in range(1, N - i + 1):
    print(j, end = "")

  print()

4
1234
123
12
1

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N - i, 0, -1):
    print(j,end="")
  print()
  print(end=" ")

4
4321
 321
 21
 1

In [ ]:
* x, _,*y=(1,2,3)
print(x,y)

[1] 3

In [ ]:
x,_,y = [1,2,3]
print(x,y)
print(_)

1 3
2

In [ ]:
x,*_,y = [1,2,3,4,5]
print(x,y)
print(_)

1 5
[2, 3, 4]

##DAY 07

In [ ]:
def square(num1):
  squ = num1**2
  return squ

a = square(2)
print(a)

None

Functional Arguments:<br>
Required Arguments/ Positional Arguments<br>
Keyword Arguments <br>
Default Arguments<br>
Positional Only Arguments(created using symbol /)<br>
Keyword Only Arguments<br>
Variable Length Arguments

In [ ]:
# Functions arguments

In [ ]:
def f(x,y,z, count =1, upper=2):
  return f

a = f(5,6,7)
print(a)

<function f at 0x7b45d58c0a40>

In [ ]:
def func(a,b,/,c,d=40):
  print(f"a:{a},b:{b},c:{c},d:{d}")

func(10,20,30)

a:10,b:20,c:30,d:40

In [ ]:
def func(a,b,/,c,d=40):
  print(f"a:{a},b:{b},c:{c},d:{d}")

func(10,20,c=30)

a:10,b:20,c:30,d:40

In [ ]:
def func(a,b,/,c,d=40):
  print(f"a:{a},b:{b},c:{c},d:{d}")

func(a=10,b=20,c=30)
help(func)

TypeError: func() got some positional-only arguments passed as keyword arguments: 'a, b'

In [ ]:
def func(a,b,*,c,d=40):
  print(f"a:{a},b:{b},c:{c},d:{d}")
# func(10,20,30)
func(10,20,c=30)

a:10,b:20,c:30,d:40

In [ ]:
def func(a,b,/,*,c,d=40):
  print(f"a:{a},b:{b},c:{c},d:{d}")
# func(10,20,30)
func(10,20,c=30)
# func(a=10,b=20,c=30)

a:10,b:20,c:30,d:40

TypeError: func() got some positional-only arguments passed as keyword arguments: 'a, b'

Use of Asterick

Keyworded variable length arguments

In [ ]:
def my_func(**kwargs):
  print(kwargs)

my_func(a=10,b=20,c=30)
my_func(1)

{'a': 10, 'b': 20, 'c': 30}

TypeError: my_func() takes 0 positional arguments but 1 was given

In [ ]:
def my_func(*args,**kwargs):
  print(args)
  print(kwargs)

my_func(10,20,30)
my_func(1,2,3,a=10,b=20)

(10, 20, 30)
{}
(1, 2, 3)
{'a': 10, 'b': 20}


*   Asterik in calling function is denaoted as unpaacking

*   Positional variable length arguments --> uses Tuple syntax *

*   Keword variable length arguments --> uses dict syntax **
*   postional -->

In [ ]:
def vowels(text)->str:
  vowels_list = "aeiouAEIOU"
  retained_vowels = []
  vowel = 0
  for char in text:
    if char in vowels_list:
      # if char not in retained_vowels:
        vowel += 1
        retained_vowels.append(char)

  return retained_vowels ,vowel

a,b=vowels("Hello")
print(a)
print(b)
# print(vowels("Hello"))
# print(vowel)

['e', 'o']
2

In [ ]:
my_list = [vowels, print]

for func in my_list:
  print(func("Hello"))

(['e', 'o'], 2)
Hello
None

In [ ]:
var = vowels
print(var("Hello"))

('eo', 2)

In [ ]:
def vowels(text):
  vowels_list = "aeiouAEIOU"
  # retained_vowels = []
  vowel = 0
  for char in text:
    if char in vowels_list:
      # if char not in retained_vowels:
        vowel += 1
        # retained_vowels.append(char)

  return vowel

print("No of vowels:",vowels("Hello"))

No of vowels: 2

map()

The map () function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple, etc.).

Syntax: map(fun, iter)

Parameters:

fun: It is a function to which map passes each element of given iterable.
iter:  iterable object to be mapped.

In [ ]:
def myfunc(a):
  return len(a)

x= map(myfunc, ('apple','banana', 'cherry'))

print(x)
print(list(x))

<map object at 0x7a3762810370>
[5, 6, 6]

In [ ]:
def myfunc(a,b):
  return a+b

x = map(myfunc, ('apple','banana', 'cherry'),('orange','lemon','pineapple'))

print(x)
print(list(x))  # convert map into list for readi

<map object at 0x7a3762876a70>
['appleorange', 'bananalemon', 'cherrypineapple']

##Day 08

Syntax: filter(function, sequence)

Parameters:

function: function that tests if each element of a sequence is true or not.
sequence: sequence which needs to be filtered, it can be sets, lists, tuples, or containers of any iterators.

In [ ]:
# Filter Function
# Filter the array, return a new array with only the values equal to or above 18
ages = [5,12,17,18,24,32]

def myFunc(x):
  if x<18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

Reduce() Function

Syntax: reduce(func, iterable[, initial])

Parameters:

fun: It is a function to execute on each element of the iterable object.
iter: It is iterable to be reduced

In [ ]:
from functools import reduce
def sum(a,b):
  print(f"a={a} and b={b}, {a}+{b}={a+b}")
  return a+b

result = reduce(sum, [1,2,3,4])
print(result)

a=1 and b=2, 1+2=3
a=3 and b=3, 3+3=6
a=6 and b=4, 6+4=10
10

In [ ]:
s = "FET"
a = iter(s)
print(s)
print(next(a))
print(next(a))
print(next(a))
# print(next(a))   #Stop iteration

FET
F
E
T

*   Class is a logical entity and acts as a blueprint of similar kind of
objects.
*   objects are real or time entity which have state ,identity and behaviour.
*   Encapsulation is the process by which data and its related function are bound together into a single unit called class.

In [ ]:
class get_odds:
  def __init__(self, max):
    self.n=3
    self.max=max

  def __iter__(self):
    return self

  def __next__(self):
    if self.n <= self.max:
      result = self.n
      self.n += 2
      return result
    else:
      raise StopIteration

numbers = get_odds(10)
# print(next(numbers))
# print(next(numbers))
# print(next(numbers))
# print(next(numbers))
# # print(next(numbers))

for i in numbers:
  print(i)

3
5
7
9

In [ ]:
class PowTwo:

  def __init__(self, max = 0):
    self.max = max

  def __iter__(self):
    self.n=0
    return self

  def __next__(self):
    if self.n <= self.max:
      result = 2 ** self.n
      self.n += 1
      return result
    else:
      raise StopIteration

numbers  = PowTwo(3)
i = iter(numbers)
print(next(i))
print(next(i))
print(next(i))
print(next(i))
# print(next(i))   # raises stopiteration

1
2
4
8

## Day 10

Generators in python

A generator function is a special type of function that returns an iterator object. Instead of using return to send back a single value, generator functions use yield to produce a series of results over time. This allows the function to generate values and pause its execution after each yield, maintaining its state between iterations.

In [ ]:
def generator_name(arg):

In [ ]:
def mygenerator():
  print("First item")
  yield 10

  print("Second item")
  yield 20

  print("Third item")
  yield 30

# for item in mygenerator():
#   print(item)

s = mygenerator()
print(next(s))
print(next(s))
print(next(s))

First item
10
Second item
20
Third item
30

In [ ]:
# Design a custom generator to like range function eg: my_range(5)

def my_range(n):
  i = 0
  while i<n:
    yield i
    i+= 1
for i in my_range(5):
  print(i)

0
1
2
3
4

In [ ]:
def my_func(ini,max):
  i = ini
  while i < max:
    yield i
    i+=1
for i in my_func(1,6):
  print(i)

1
2
3
4
5

In [ ]:
def my_range(ini=0,max=0):
  i = ini
  while i <max:
    yield i
    i+=1
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
def my_func(ini=0, max=0, jump=1):
  i = ini
  if max == 0:
    max = ini
    ini = 0
    i = ini
  while i < max:
    yield i
    i += jump

for i in my_func(1, 10, 4):
  print(i)

for i in my_func(5):
  print(i)

1
5
9
0
1
2
3
4

In [ ]:
even_gen = (i for i in range(10) if i%2==0)
print(even_gen)
for i in even_gen:
  print(i)

<generator object <genexpr> at 0x7a10b5b68e10>
0
2
4
6
8

In [ ]:
# Given a list [-20,-10,0,10,20], calculate the sum of squares which are less than or equal to 150

gen_1 = (i**2 for i in [-20,-10,0,10,20]) #if i**2 <= 150)
gen_2 = (i for i in gen_1 if i <= 150)
print(sum(gen_2))

200
<generator object <genexpr> at 0x7a10b5b6bb90>

In [ ]:
sq = (x*x for x in range(1, 6))
for i in sq:
    print(i)

In [ ]:
# create a custom generator to find the sum of the following series
# SUM 1 + 1/2 + 1/3 + ......+ 1/n
print(sum(1/i for i in range(1,11)))

2.9289682539682538

##Day 12

In [ ]:
d = lambda x: x*2
print(d(10))

20

In [ ]:
type(d)

function

In [ ]:
import dis
dis.dis(d)

  1           0 RESUME                   0
              2 LOAD_FAST                0 (x)
              4 LOAD_CONST               1 (2)
              6 BINARY_OP                5 (*)
             10 RETURN_VALUE

In [ ]:
(lambda  x: x*x)(5)

25

In [ ]:
high_order = lambda x, d: x*d(x)
print(high_order(5, lambda x: x*x))

125

In [ ]:
def func2(x):
  return x*x
def func1(x, func): # Corrected: pass the function object as a parameter
  return x * func(x)

print(func1(3, func2)) # Corrected: pass the function object 'func2'
print(func2(4))

27
16

In [ ]:
mylist = [2,3,4,5,23,323,13]
list_new = list(filter(lambda x: x%2==0, mylist))
print(list_new)

[2, 4]

Reduce function performs a repetitive operaation over the pairs of the elements in the list. Pass the lambda function adn the list as argument to reduce function.

In [ ]:
from functools import reduce
mylist = [1,2,3,4,5,6,7,8,9]
list_new = reduce(lambda x,y: x+y, mylist)
print(list_new)

45

A recursive function is just like any other Python function except that it calls itself in its body. Let's see basic structure of recursive function:

In [ ]:
def recursive_function(parameters):
    if base_case_condition:
        return base_result
    else:
        return recursive_function(modified_parameters)

Recursive function contains two key parts:

Base Case: The stopping condition that prevents infinite recursion.
Recursive Case: The part of the function where it calls itself with modified parameters.

In [ ]:
def Print_1_to_n(n):
  if n == 0: # Base Case
    return
  Print_1_to_n(n-1) # Recursive step: call with n-1
  print(n) # Print after the recursive call to print in ascending order

Print_1_to_n(10)

1
2
3
4
5
6
7
8
9
10

In [ ]:
def print_n(s,n):
  if n ==0:       #base case
    return

  print_n(s,n-1)      #hypothesis
  print(s)            #induction

print(print_n("Hello",4))

Hello
Hello
Hello
Hello
None

In [ ]:
def Print_n_to_1(n):
  if n == 0:
    return
  print(n)
  Print_n_to_1(n-1)

Print_n_to_1(10)

10
9
8
7
6
5
4
3
2
1

In [ ]:
def factorial(n):
    if n == 0:  # Base case
        return 1
    else:       # Recursive case
        return n * factorial(n - 1)

print(factorial(5))

120

In [ ]:
def factorial(n):
    if n == 0:  # Base case
        return 1
    small_output = factorial(n-1)

    return n*small_output

factorial(12)

479001600

In [ ]:
def factorial(n):
  return 1 if n <= 1 else n * factorial(n-1)

print(factorial(8))

40320

In [ ]:
#given a list return if it is sorted else return false

def sorted_list(n:list):
  if len(n) == 0 or len(n) ==1:
    return True
  else:
    r

In [ ]:
# Function can be treated as obejct and can be stored in a variable

In [ ]:
def shout(text):
  return text.upper()

def wishper(text):
  return text.lower()

In [3]:
def create_adder(x):
  def adder(y):
    return x + y
  return adder

add_15 = create_adder(15)
print(add_15(10))

25

In [7]:
def parent():
  print("Printing from the parent() function")

  def first_child():
    print("Printing from the first_child() function")

  def second_child():
    print("Printing from the second_child() function")

  second_child(1)
  first_child(2)

In [8]:
def parent(num):
  def first_child():
    return "Hi, I am Emma"

  def second_child():
    return "Call me Liam"

  if num == 1:
    return first_child
  else:
    return second_child

first = parent(1)